<template>
  <div>
    <button v-on:click="move('up')">up</button>
    <button v-on:click="move('right')">right</button>
    <button v-on:click="move('left')">left</button>
    <button v-on:click="move('down')">down</button>
    <button v-on:click="continuousMove({ x: 0, y: 0, z: 0 })">continuous move</button>
  </div>
</template>



<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
//import { Camera, MovementType, MovementDirection, Coordinates } from './stream-crush/index';
//import * as Marlin from './stream-crush';
import { Camera, MovementType, MovementDirection, Coordinates } from '@akva-observe/stream-crush/index.d';
import Marlin from '@akva-observe/stream-crush';


@Component
export default class Buttons extends Vue {
  flip = false;
  async move (direction: MovementDirection) {
    const cameraId: Camera["id"] = 2;
    await Marlin.ptzMove(cameraId, "cam" as MovementType, direction);
    setTimeout(async () => await Marlin.ptzMove(cameraId, "cam" as MovementType,
                                                `${direction}_stop` as MovementDirection), 1000);
  }

  async continuousMove (coordinates: Coordinates) {
    let coord = { x: 0, y: 0, z: 0 };
    if (this.flip) {
      coord = { x: 100, y: 100, z: 100 };
      this.flip = !this.flip
    }
    const cameraId: Camera["id"] = 2;
    await Marlin.ptzContinuous(cameraId, coordinates);
  }

}
</script>

<style scoped>
</style>
