<template>
  <div
    :id="'1'"
    class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { MarlinStatus, Camera } from '@akva-observe/stream-crush/index.d';
//import { Camera } from './stream-crush';
//import {  MarlinStatus  } from './stream-crush/WssClient'
//import MarlinVideoElement, { MarlinVideoEvents } from './stream-crush/MarlinVideoElement'
import MarlinVideoElement, { MarlinVideoEvents } from '@akva-observe/stream-crush/MarlinVideoElement.d'
//import * as Marlin from './stream-crush';
import Marlin from '@akva-observe/stream-crush';
import { cloneDeep } from 'lodash';
          
@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
  video: HTMLElement|null|undefined;
  videoElements: MarlinVideoElement[] = [];
             
  async mounted () {
    this.video = document.getElementById("1");
    const addEventListeners = (videoElement: MarlinVideoElement) => {
      //videoElement.listen('streamAccepted', (event: CustomEvent<MarlinVideoEvents['streamAccepted']>) => {
      //  console.log(event);
      //})
          
      //videoElement.listen('streamRejected', (event: CustomEvent<MarlinVideoEvents['streamRejected']>) => {
      //  console.log(event);
      //})
             
      //videoElement.listen('streamStatusChange', (event: CustomEvent<MarlinVideoEvents['streamStatusChange']>) => {
      //  console.log(event);
      //})
        
      //videoElement.listen('streamStatusChange', (event: CustomEvent<MarlinVideoEvents['streamStatusChange']>) => {
      //  console.log(event);
      //})
      videoElement.listen('resize', (event: CustomEvent<MarlinVideoEvents['resize']>) => {
        console.log(event);
        const { height, width }: MarlinVideoEvents['resize'] = event.detail;
        videoElement.snapToClosestSizedSubStream(height, width);
      })
    }
    
    const connectionDidConnect = async () => {
      const cameras: Camera[] = await Marlin.getAllViews();
      cameras.map(camera => {
        for (let i = 0; i < 1 ; i++) {
          const videoElement: MarlinVideoElement = document.createElement("marlin-video") as MarlinVideoElement;

          //if (i === 5) {
          //  setTimeout(() => {
          //    addEventListeners(videoElement);
          //    this.videoElements.push(videoElement);
          //    if (this.video) {
          //      //this.video.innerHTML = "";
          //      videoElement.start(camera.id)
          //      this.video.appendChild(videoElement);
          //    }
          //  }, 30000)
          //} else {
          //  addEventListeners(videoElement);
          //  this.videoElements.push(videoElement);
            if (this.video) {
              //this.video.innerHTML = "";
              this.video.appendChild(videoElement);
              videoElement.start(camera.id)
            }
          //}

          //if (this.video) {
          //  //this.video.innerHTML = "";
          //  this.video.appendChild(videoElement);
          //}
          addEventListeners(videoElement);
          //if (i === 0) { 
          //  setTimeout(() => videoElement.remove(), 1000)
          //}
          //if (i === 2) {
          //  setTimeout(() => videoElement.remove(), 10000)
          //}
          //if (i === 3) {
          //  setTimeout(() => videoElement.remove(), 40000)
          //}
        }
      })
    }

    const lastObserver = {
      connectionDidConnect,
      connectionFailedToConnect: (e: Event) => console.log('failed To connect'),
      connectionDidLogIn: (authToken: string) => console.log(authToken),
      connectionFailedToLogIn: (e: Event) => console.log('failed log in'),
      connectionStateChanged: (state: MarlinStatus) => console.log(state),
    };

    Marlin.addObserver(lastObserver);

    const username = "stream-crush-test2";
    const password = "Maritime321";
    const ip = "100.100.100.100";
    await Marlin.connect(ip, username, password);
    //setTimeout(() => Marlin.disconnect(), 20000)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

